@model IEnumerable<AvaliacaoTorneio.Models.Lutador>

@{
    ViewData["Title"] = "Index";


}

<h1>Torneio de Luta</h1>
<!--<p>-->
    @*<a asp-action="IniciarLutas" id="btn">Iniciar</a>*@

    <!--<input type="button" onclick="funcao1()" value="Exibir Alert" />





</p>-->



<form asp-action="IniciarLutas" asp-controller="Lutadores" method="get">
    <button type="submit" name="action">Iniciar Luta</button>
    <table class="table" id="#tblLutadores">
        <thead>

            <tr>
                <th>
                    @Html.DisplayName("Selecione")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lutas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Derrotas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vitorias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtesMarciais)

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <input type="checkbox" name="Id" value="@item.Id"  />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lutas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Derrotas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vitorias)
                    </td>
                    <td>
                        @item.ArtesMarciais.Count()
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>

